* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1,
h3,
h2,
p {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 70px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header img {
    width: 13%;
}

.header select {
    outline: none;
    background-color: transparent;
    color: white;
    padding: 8px 18px;
    font-size: 16px;
    margin-right: 9px;
    border-radius: 2px;
}

.header select option {
    color: #000;
}

.header a {
    padding: 8px 18px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    background-color: #000;
    color: white;
    border-radius: 5px;
    border: 1px solid #fff;
}

.header a:hover {
    color: white;
    text-decoration: none;
}

/* style first section  */
.first-section {
    height: 100vh;
    background-image: url(assets/images/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}

.first-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #000, transparent);
}

.first-section div {
    text-align: center;
    z-index: 2;
}

.first-section h2 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 54px;
    line-height: 74.5px;
    color: #fff;
}

.first-section h3 {
    font-size: 25px;
    margin: 16px 0px;
    color: white;
}

.first-section p {
    font-size: 20px;
    margin: 16px 0px;
    color: white;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.first-section form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 60%;
}

.first-section form input[type="email"] {
    padding: 12px 44px 15px 5px;
    width: 100%;
    outline: none;
    border: 1px solid gray;
    font-size: 18px;
    margin: 5px;
}

.first-section form input[type="email"]::placeholder {
    color: gray;
    font-size: 18px;
}

.first-section form input[type="submit"] {
    padding: 8px 26px;
    border: none;
    background-color: #000;
    color: white;
    font-size: 26px;
    border: 1px solid #fff;
}

/* advertizement style */
.advertise-part {
    display: flex;
    position: relative;
    justify-content: center;
    background: rgb( 14, 27, 79 );
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 74px;
    color: white;
    padding: 22px;
}

/* image and video style */

.img-video-section {
    color: white;
    border-bottom: 8px solid #222;
    padding: 20px 150px;
    text-align: left;
}

.img-video-section h3 {
    font-size: 50px;
    margin-top: 33px;
}

.img-video-section p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.img-video-section .videoSecDiv {
    position: relative;
}

.videoSecDiv img {
    max-width: 100%;
}

.videoSecDiv video {
    position: absolute;
    top: 70px;
    left: 64px;
    z-index: -1;
}

